<header (scroll)="onScroll()"
    class="{{isTop ? 'border-0' : 'border border-b-borderColor'}} bg-bgWhite fixed z-50 border-r-0 border-l-0 border-t-0 text-secondaryTextColor py-6 w-full transition-all duration-200">
    <nav class="flex flex-row items-center justify-between w-[95%] mx-auto">
        <h1 class="text-3xl font-extrabold  tracking-wide flex flex-row items-center cursor-pointer" routerLink="/home">
            <mat-icon color="accent">book</mat-icon>BMS
        </h1>
        <div *ngIf="windowWidth > 768" class="flex flex-row gap-x-8 items-center text-base">
            <a routerLink="/home">Início</a>
            <a *ngIf="!isAdmin()" routerLink="/library">Livraria</a>
            <a *ngIf="isAdmin()" routerLink="/library">Configurações da livraria</a>
            <a *ngIf="isLoggedIn()" routerLink="/profile/{{id}}">Minha conta</a>
            <button *ngIf="!isLoggedIn()" mat-flat-button color="accent" routerLink="/login">
                <span>Login</span>
                <mat-icon>login</mat-icon>
            </button>
            <button *ngIf="isLoggedIn()" mat-flat-button color="accent" (click)="signOut()">
                <span>Logout</span>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
        <button *ngIf="windowWidth < 768" mat-icon-button [matMenuTriggerFor]="accMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #accMenu="matMenu" class="text-sm">
            <button mat-menu-item routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Início</span>
            </button>
            <button routerLink="/library" mat-menu-item>
                <mat-icon>apps</mat-icon>
                <span>{{isAdmin() ? 'Configurações da livraria' : 'Livraria'}}</span>
                <span></span>
            </button>
            <button *ngIf="isLoggedIn()" routerLink="/profile/{{id}}" mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Minha Conta</span>
            </button>
            <button *ngIf="!isLoggedIn()" routerLink="/login" mat-menu-item>
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item *ngIf="isLoggedIn()" (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </nav>
</header>