<main class="w-screen min-h-screen flex flex-col justify-center items-center">
    <div class="h-[600px] w-[340px] rounded-md flex flex-col gap-y-4 p-4 items-center">
        <h1 class="text-3xl md:text-4xl font-bold">Crie sua conta agora</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-full flex flex-col gap-y-2">

            <mat-error *ngIf="registerFormErrMsg.length > 0">{{registerFormErrMsg}}</mat-error>
            <mat-form-field class="w-full">
                <mat-label>Primeiro nome</mat-label>
                <input formControlName='FirstName' type="text" matInput placeholder="John">
                <mat-error class="text-xs" *ngIf="FirstName.invalid">{{getFirstNameError()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Último nome</mat-label>
                <input formControlName='LastName' type="text" matInput placeholder="Doe">
                <mat-error class="text-xs" *ngIf="LastName.invalid">{{getLastNameError()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input formControlName="Email" type="text" matInput placeholder="johnDoe@email.com">
                <mat-error class="text-xs" *ngIf="Email.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Senha</mat-label>
                <input formControlName="Password" [type]="hidePass ? 'password' : 'text'" matInput placeholder="12356789...">
                <button type="button" (click)="hidePass = !hidePass" matSuffix mat-icon-button>
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-xs" *ngIf="Password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Confirme sua senha</mat-label>
                <input formControlName="ConfirmPassword" [type]="hideConfirmPass ? 'password' : 'text'" matInput placeholder="12356789...">
                <button type="button" (click)="hideConfirmPass = !hideConfirmPass" matSuffix mat-icon-button>
                    <mat-icon>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error class="text-xs" *ngIf="ConfirmPassword.invalid">{{getConfirmPasswordError()}}</mat-error>
            </mat-form-field>
            <button type="submit" class="w-full text-sm" mat-flat-button [disabled]="isRegistering" color="primary">
                {{!isRegistering ? 'Cadastrar' : '' }}
                <mat-spinner style="height: 20px; width: 20px;" *ngIf="isRegistering"></mat-spinner>
            </button>
        </form>
        <div class="self-end text-xs">
            Já possui uma conta? <a class="underline" routerLink="/login">Entre agora!</a>
        </div>
    </div>
    <button routerLink="" class="absolute left-0 top-0 underline p-2">
        Início
    </button>
</main>